* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-color: darkgray;
  color: whitesmoke;
}

a {
  text-decoration: none;
  text-decoration-line: line-throughz;
}

.about {
  color: black;
  text-align: left;
  vertical-align: auto;
}

.main-style {
    text-align: center;
}

.header-content {
  text-emphasis: bold;
  text-shadow: #333;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

html, body, header, #intro {
  height: 100%;
}

#intro {
  background: url("/images/bg-masthead.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 25px;
    padding: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


/* Section styles */
section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

h2 {
  color: #333;
}

/* Portfolio item styles */
.portfolio-item {
  margin: 20px 0;
}

img {
  max-width: 100%;
}

/* Form styles */
form {
  width: 50%;
  margin: 0 auto;
}

label, input, textarea {
  display: block;
  margin: 10px 0;
}